/*style.css*/


html,body{
    margin: 0px;
    position: fixed;
    width:100%;
    height:100%;
    z-index: -1;

   overflow: hidden;
        
    background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
    background-repeat: no-repeat;
}

  #particles-js{
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;

    background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
    background-size: cover;    
    background-repeat: no-repeat;
  }




.page{
    width:50%;
    height:100%;
    margin: 0px;

    float: left;
}

.splitright{
    width:50%;
    height:100%;
    margin: 0px;

    float: right;
    background-color: #00001c;
}

.righttextBox{
    padding-top: 30%;
    padding-left: 2%;
    padding-left: 2%;
    text-align: center;
    box-sizing: border-box;
    display: table-cell;
}

#introduction{
    color: cornsilk;
    font-family: 'Spartan';
}

.avatarBox{
    margin-top: 7%;
    text-align: center;
    box-sizing: border-box;
}

.avatarPic{
    display: inline-block;
}

#avatar {width: 57%; height: 57%;}

.headersBox{
    text-align: center;
    box-sizing: border-box;
}

.nameheader{
    font-family: 'Oxanium';
    color: black;
    display: block;
}

.subheader{
    font-family: 'Oxanium';
    color: black;
    display: block;
}
.linksBox{
    text-align: center;
    box-sizing: border-box;
}
.linkedinlink{
    display: inline;
    margin-right: 0.75%;
}
#linkedinlogo{width: 5%; height: 5%;}
.instagramlink{
    display: inline;
    margin-right: 0.75%;
}
#instagramlogo{width: 5%; height: 5%;}
