/*style.css*/


html, body{
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgb(120, 37, 2) 0%, rgb(41, 31, 45) 93.6% );
    overflow-y: auto;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, a, a:visited{
    font-family: 'Anta';
    color: antiquewhite;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Anta';
    color: antiquewhite;
}

.page{
    width: 100%;
    min-height: max-content;
    overflow-y: inherit;
    scroll-behavior: smooth;
}

.content{
    padding-right: 15%;
    padding-left: 15%;
    min-height:max-content;
    margin: 0px;
    overflow-y: inherit;
    scroll-behavior: inherit;
}

.avatarBox{
    margin-top: 7%;
    text-align: center;
    box-sizing: border-box;
}

.avatarPic{
    display: inline-block;
}

#avatar {width: 45%; height: 45%;}

.headersBox{
    text-align: center;
    box-sizing: border-box;
}

.nameheader{
    display: block;
}

.subheader{
    display: block;
}

.textBox{
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: center;
    box-sizing: border-box;
}

.linksBox{
    margin-bottom: 5%;
    text-align: center;
    box-sizing: border-box;
}
.linkedinlink{
    display: inline;
    
}
